<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Variant Database</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>


<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'index' %}">Variant Database</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'index' %}">Home</a></li>
      <li><a href="{% url 'search_variant' %}">Search</a></li>
      <li><a href="{% url 'add_variant' %}">Add</a></li>
        <li><a href="{% url 'upload_file' %}">Upload</a></li>
    </ul>
  </div>
</nav>

{% block content %}
<p>Missing content</p>
{% endblock %}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.3.1/datatables.min.js"></script>
</body>
</html>
