{% extends 'starter.html' %}
{% block content %}

<h2> Variants</h2>

<table>
  <tr>
  <th>Name</th>
  <th>Gene</th>
  <th>cDNA</th>
  <th>Protein</th>
  <th>Genomic</th>
  <th>No. Patients</th>
  <th>Pathogenicity</th>
  <th>Evidence Codes</th>
  </tr>

  {% for variant in variant_data %}
  <tr>
    <td></td>
    <td>{{ variant.Gene }}</td>
    <td>{{ variant.cDNA }}</td>
    <td>{{ variant.Protein }}</td>
    <td>{{ variant.Genome }}</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  {% endfor %}

</table>

{{ variant_data }}

{% endblock %}