{% extends 'starter.html' %}
{% block content %}

<div class="container">
<h1> Variants</h1>
  <br/>

<table>
  <tr>
  <!--<th>Name</th>
  <th>Gene</th> -->
  <th>cDNA</th>
  <th>Protein</th>
  <th>Genomic position</th>
  <!--<th>No. Patients</th> -->
  <th>Pathogenicity</th>
  <th>Evidence Codes</th>
  </tr>

  {% for variant in variant_data %}
  <tr>
    <td>{{ variant.cnda }}</td>
    <td>{{ variant.protein }}</td>
    <td>{{ variant.genome }}</td>
    <td>{{ variant.pathogenicity }}</td>
    <td>{{ variant.evidence_codes }}</td>

  </tr>
{% empty %}
  <td>No variants found</td>

  {% endfor %}

</table>
</div>
{% endblock %}