{% extends 'starter.html' %}
{% block content %}

<div class="container">
<h1> Variants</h1>
  <br/>

<table>
  <tr>
  <th>cDNA</th>
  <th>Protein</th>
  <th>Genomic position</th>
  <th>Pathogenicity</th>
  <th>Evidence Codes</th>
      <th>Edit</th>
  </tr>

  {% for variant in variant_data %}
  <tr>
    <td>{{ variant.cnda }}</td>
    <td>{{ variant.protein }}</td>
    <td>{{ variant.genome }}</td>
    <td>{{ variant.pathogenicity }}</td>
    <td>{{ variant.evidence_codes }}</td>
      <td>
          <a href="{% url 'edit_variant' pk=variant.id %}" class="btn btn-default btn-md" name="edit">Edit</a>
      </td>

  </tr>
{% empty %}
  <td>No variants found</td>

  {% endfor %}

</table>


</div>

{% endblock %}
